@model ML.Poliza
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>Poliza</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione una Poliza para editarlo o + para agregar...</h5>
            <hr />
        </div>
    </div>

</div>

<div style="float:right;">
    @Html.ActionLink("+", "Form", "Form", htmlAttributes: new { @class = "btn btn-success" })
</div>

<br />
<table class="table   table-hover table-bordered table-responsive">
    <thead>
        <tr class="table-secondary">
            <td>Editar</td>
            <td style="display :none;">id</td>
            <td>Nombre</td>
            <td>SubPoliza</td>
            <td>Numero Poliza</td>
            <td>Fecha Creacion</td>
            <td>Fecha Modificacion</td>
            <td>Usuario</td>
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Poliza poliza in Model.Polizas)
        {
            <tr>
                <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning glyphicon" href="@Url.Action("Form", "Poliza", new { idPoliza = poliza.IdPoliza})"><i class="bi bi-pencil-square" style="color: ivory"></i></a></td>
                <td style="display :none;">@poliza.IdPoliza </td>
                <td>@poliza.Nombre </td>
                <td>@poliza.SubPoliza.Nombre</td>
                <td>@poliza.NumeroPoliza</td>
                <td>@poliza.FechaCreacion</td>
                <td>@poliza.FechaModificacion</td>
                <td>@poliza.Usuario.Nombre @poliza.Usuario.ApellidoPaterno @poliza.Usuario.ApellidoMaterno</td>
               
                <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Poliza", new { idPoliza = poliza.IdPoliza})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="bi bi-eraser-fill" style="color: mintcream"></i></a></td>
            </tr>
        }

    </tbody>
</table>
