@model ML.Empresa
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>Empresa</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione una Empresa para editarlo o + para agregar...</h5>
            <hr />
        </div>
    </div>

</div>

<div style="float:right;">
    @Html.ActionLink("+", "Form", "Form", htmlAttributes: new { @class = "btn btn-success" })
</div>

<br />
<table class="table   table-hover table-bordered table-responsive">
    <thead>
        <tr class="table-secondary">
            <td>Editar</td>
            <td style="display :none;">id</td>
            <td>Nombre</td>
            <td>Telefono</td>
            <td>Email</td>
            <td>Direccion Web</td>
            <td>Logo</td>
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Empresa empresa in Model.Empresas)
        {
            <tr>
                <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning glyphicon" href="@Url.Action("Form", "Empresa", new { idEmpresa = empresa.IdEmpresa  })"><i class="bi bi-pencil-square" style="color: ivory"></i></a></td>
                <td style="display :none;">@empresa.IdEmpresa </td>
                <td>@empresa.Nombre </td>
                <td>@empresa.Telefono</td>
                <td>@empresa.Email</td>
                <td>@empresa.DireccionWeb</td>
                @if (empresa.Logo == null)
                {
                    <td class="card-title" style="text-align: center; vertical-align: middle;"><img src="/Images/guest-user.png" style="width:70px ; height:70px" /></td>
                }
                else
                {
                    <td class="card-text" style="text-align: center; vertical-align: middle;"><img id="Img" src="data:image/*;base64,@empresa.Logo" style="width:70px ; height:70px" /></td>
                    @*<img id="Img" src="data:image/*;base64,@Convert.FromBase64String(Model.Imagen)" style="width:250px ; height:250px" />*@
                }



                <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Empresa", new { idEmpresa= empresa.IdEmpresa})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="bi bi-eraser-fill" style="color: mintcream"></i></a></td>
            </tr>
        }

    </tbody>
</table>
